[user]
	email = ketan.kanishka@nyu.edu
	name = disconsis
[http]
[ssl]
[push]
	default = simple
[http]
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = p4merge
[alias]
	co = commit
	ch = checkout
	br = branch
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	diffs = diff --staged
[color]
	ui = auto
[core]
	excludesfile = /home/disconsis/.gitignore
    # pager = delta --theme='Monokai Extended' # --plus-color="#73cc58" --minus-color="#340001" --width=
	# pager = delta

[interactive]
    # diffFilter = delta --color-only
